.header{
    display: flex;
    flex-direction: column;
    &-container{
        display: flex;
        align-items: center;
        justify-content:space-between; 
    }
    &-bottom{
        display: flex;
    }
    &-logo{
        display: flex;
        align-items: center;
        & img{
            width: 162px;
            height: 125px;
        }
    }
    &-contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-techSup>a{
        color: #000;
        text-decoration: none;  
    }
    &-bottom{
        width: 100%;
        &>a{
            margin-top: -10px;
            width: 20%;
            display: flex;
            justify-content: center;     
            border-bottom: 1px solid #959895;
            border-top: 1px solid #959895;
            color: #000;
            text-decoration: none;
            
            align-items: center;
        }
        &>a:hover{
            background-color: #d5d8d5;
        }
    }
}

.item{
   width: 20%;
}
.container{
    width: 1080px;
    margin: 0 auto;
}
.content{
padding-top: 50px;
}
.contract{
    width: 70%;
    margin: 0 auto;
    border: #000 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    &-column{
        display: flex;
        flex-direction: column;
    }
}
